# Byte-compiled / optimized / DLL files
fstack_chg/__pycache__/
/*.py[cod]
/*$py.class

# C extensions
*.so

# Distribution / packaging
fstack_chg/venv/
fstack_chg/.serverless/
fstack_chg/node_modules/
